.header {

    &__border {
        width: 95%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: 0 auto;
    }

    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--color-main);
    z-index: 1000;

    @media only screen and (max-width: 900px) {
        height: 7.6rem;
    }
}

.navigation {
    padding-top: 2.2rem;
    padding-bottom: 0.6rem;

    @media only screen and (max-width: 900px) {
        padding-bottom: 5.4rem;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 900px) {
            display: none;
        }
    }

    &__item {
        padding: 1rem 3rem;
        border-radius: 8px;
        cursor: pointer;
        background-image: linear-gradient((240deg, transparent 0%, transparent 50%, var(--color-headings) 50%));
        background-size: 230%;
        background-position: 100%;
        transition: all 0.4s;

        &:hover:not(:last-child) {
            background-position: 0;
        }

        &:hover:not(:last-child) .navigation__link {
            color: var(--color-main);
        }

    }

    &__link {

        &:link,
        &:visited {
            font-family: inherit;
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: var(--color-main-text);
            text-decoration: none;
            transition: all 0.4s;
        }
    }
}